<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudfly.start.bill.mapper.BillTypeMapper">

   <select id="queryList" resultType="com.cloudfly.start.bill.entity.BillType" parameterType="int">
        SELECT
            bt.type AS type,
            bt.type_icon AS typeIcon,
            bt.type_id AS typeId,
            bt.type_name AS typeName,
            bt.parent_id AS parentId
        FROM
            bill_type bt
        WHERE
            bt.type_id NOT IN (
            SELECT
                bt1.parent_id
            FROM
                bill_type bt1
            WHERE
                bt1.user_id = #{userId} and bt1.is_delete = 1 and bt1.type = #{type})

            AND bt.is_delete = 0
            AND bt.type = #{type} and (bt.user_id = 9999 or bt.user_id = #{userId})
   </select>
</mapper>