<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudfly.start.bill.mapper.BillBookReportGatherMapper">

    <select id="generateReport" resultType="com.cloudfly.start.bill.entity.BillBookInfo">
        select bbi.book_id bookId,
               bbi.info_money infoMoney,
               bbi.info_pay_type infoPayType
        from bill_book_info bbi inner join bill_user bu
             on(bbi.user_id = bu.user_id)
        where bbi.book_id = #{bookId,jdbcType=INTEGER}
        and bbi.info_pay_type = #{infoPayType,jdbcType=INTEGER}
        and bbi.info_date <![CDATA[ >= ]]> #{startTime}
        and bbi.info_date <![CDATA[ <= ]]> #{endTime}
    </select>
</mapper>
