<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.cloudfly.start.bill.mapper.BillBookAnnualSummaryMapper">

    <select id="queryAnnualSummaryReportList" parameterType="int" resultType="java.util.Map">
        select tt.bookId bookId,
               tt.billMonth billMonth,
               max(tt.monthIn) monthIn,
               max(tt.monthOut) monthOut,
               max(tt.monthIn)-max(tt.monthOut) balance
        from (
            select t.book_id bookId,
                   t.bill_month billMonth,
                   t.info_pay_type infoPayType,
                   (case when t.info_pay_type=1 then sum(t.info_money) else null end) monthIn
                   (case when t.info_pay_type=2 then sum(t.info_money) else null end) monthOut
            from (
                select bbi.book_id
                       bbi.info_money
                       bbi.info_pay_type ,
                       (case when month(bbi.info_date)=1 then 1
                             when month(bbi.info_date)=2 then 2
                             when month(bbi.info_date)=3 then 3
                             when month(bbi.info_date)=4 then 4
                             when month(bbi.info_date)=5 then 5
                             when month(bbi.info_date)=6 then 6
                             when month(bbi.info_date)=7 then 7
                             when month(bbi.info_date)=8 then 8
                             when month(bbi.info_date)=9 then 9
                             when month(bbi.info_date)=10 then 10
                             when month(bbi.info_date)=11 then 11
                             when month(bbi.info_date)=12 then 12
                        else null end
                       ) bill_month
                from bill_book_info bbi
                where bbi.book_Id=#{bookId,jdbcType=INTEGER}
                      and bbi.info_date <![CDATA[ >= ]]> #{startTime,jdbcType=DATE}
                      and bbi.info_date <![CDATA[ <= ]]> #{endTime,jdbcType=DATE}
            ) t
            group by t.bookId,t.bill_month,t.info_pay_type
        ) tt
        group by tt.bookId, tt.billMonth
    </select>
</mapper>
