<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudfly.start.bill.mapper.BillShareMapper">

    <resultMap id="billAndUserDao" type="com.cloudfly.start.bill.dao.BillAndUserDao">
        <collection property="billUsers" ofType="com.cloudfly.start.bill.dao.BillShareDao" javaType="java.util.List">
            <result column="user_id"  property="userId"/>
            <result column="user_name"  property="userName"/>
            <result column="user_img"  property="userImg"/>
            <result column="share_id"  property="shareId"/>
        </collection>
    </resultMap>

    <select id="queryByBillAndUserId" resultMap="billAndUserDao" parameterType="java.lang.Integer">
        select * from bill_user user inner join bill_share share on user_id = share.share_user_id
        where share.share_id = #{billBookId}
    </select>
    
    <select id="queryBillByUserId" resultType="java.util.List" parameterType="java.lang.Integer">
        select book.book_name as bookName,
        book.create_date as createDate,
        book.book_id as bookId,share.book_type as bookType from  bill_share share
        inner join bill_book book on share.share_book_id = book.book_id
        where user.user_id = ${userId}
    </select>

</mapper>