<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudfly.start.bill.mapper.BillBookInfoMapper">

    <select id="queryBillByUserId" parameterType="com.cloudfly.start.bill.entity.BillBookInfo" resultType="java.util.List">
        select book.book_name as bookName,
        book.create_date as createDate,
        book.book_id as bookId,share.book_type as bookType from  bill_share share
        inner join bill_book book on share.share_book_id = book.book_id
        where user.user_id = ${userId}
    </select>



    <select id="queryBillDetailsCustomize" resultType="com.cloudfly.start.bill.entity.BillBookInfo">
        select bbi.info_id infoId,
               bbi.book_id bookId,
               bbi.user_id userId,
               bbi.pay_name payName,
               bbi.type_id typeId,
               bbi.info_money infoMoney,
               bbi.info_pay_type infoPayType,
               bbi.info_date infoDate
        from bill_book_Info bbi
        where bbi.book_id=#{bookId,jdbcType=NUMERIC}
        <if test="userName != null">
            and bbi.user_id=#{userId,jdbcType=INTEGER}
        </if>
        <if test="startTime !=null">
            and bbi.info_date <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime !=null">
            and bbi.info_date <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="startMoney != null">
            and bbi.info_money <![CDATA[ >= ]]> #{startMoney,jdbcType=NUMERIC}
        </if>
        <if test="endMoney != null">
            and bbi.info_money <![CDATA[ <= ]]> #{endMoney,jdbcType=NUMERIC}
        </if>
        <if test="infoRemark !=null">
            and bbi.info_remark=#{infoRemark,jdbcType=VARCHAR}
        </if>
        order by bbi.info_date desc
    </select>

    <select id="queryCurrentData" resultType="int">
        select count(1) from bill_book_info where create_date BETWEEN CONCAT(CURDATE(),' 00:00:00') AND CONCAT(CURDATE(),' 23:59:59');
    </select>
</mapper>